*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}

.main{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 0.6fr 0.6fr;
    grid-gap: 40px;
}

.r1{
    background: url(background.jpg) no-repeat;
    background-size: 100% 100%;
    height: 30vw;
    display: grid;
    grid-template-rows: 5vw 1fr;
}

.r1a{
    display: grid;
    grid-template-columns: 30vh 1fr;
}

.r1ai h1{
    text-align: center;
    margin-top: 16px;
}

.r1aii{
    display: grid;
    grid-template-columns: 1fr 20vw;
}

.r1 *{
    color: white;
    text-decoration: none;
}

.r1aii p {
    margin-top: 27px;
    width: 600px;
}

.r1aii a{
    margin-left: 40px;
}

.r1aii a:hover{
    color: green;
    font-size: 18px;
    border-bottom: 1px solid green;
    padding: 10px;
}   

.r1aii .bn{
    display: grid;
    grid-template-columns: 5vw 1fr;
}

.con img{
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 25px;
}

.r1b{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.r1b .c1 img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 86px;
    margin-top: 110px;
}

.r1b .c2 img{
    margin-left: 200px;
    margin-bottom: 200px;
    height: 325px;
    width: 325px;
}

.r2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.r2a img{
    height: 325px;
    width: 500px;
    border-radius: 10px;
    margin-left: 70px;
    margin-top: 15px;
}

.r2b{
    display: grid;
    grid-template-rows: 0.6fr 1fr;
    grid-gap: 10px;
}

.r2bi{
    background-color: rgb(103, 212, 145);
    border-radius: 10px;
    width: 95vh;
}

.r2bi img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-left: 67%;
    margin-top: -20%;
}

.r3{
    background-color:rgb(217, 233, 236);
    height: 25vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.r3a table{
    border: 1px solid white;
    border-collapse: collapse;height: 200px;
    width: 400px;
    margin: 70px 40px 30px 130px;
}

table *{
    padding: 10px;
}

table tr:nth-child(2n+3){
    background-color: aliceblue;
}

.r3b{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.r3b b{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.r3b p{
    color: rgb(88, 88, 160);
    margin-top: 10px;
    margin-bottom: 20px;
}

.r3bi{
    margin-top: 50px;
    padding: 30px;
}

.r3bii{
    margin-top: 50px;
    padding: 30px;
}

.r4 img{
    height: 110px;
    width: 110px;
    margin-left: 190px;
    margin-top: 60px;
}

.r5{
    background-color:rgb(217, 233, 236);   
}

.serv{
    background-color: rgb(104, 204, 104);
    width: 40%;
    height: 40%;
    margin-top: 80px;
    margin-left: 415px;
    border-radius: 10px;
}

.serv img{
    height: 95px;
    width: 95px;
    margin-top: 1.2px;
    border-radius: 50%;
    margin-left: 195px;
}