		.a {
		    background: url(./img/p1.jpg) no-repeat;
		    background-size: 100% 100%;
		    height: 50vw;
		}
		nav {
		    display: flex;
		    align-items: center;
		}

		nav a ,.preeti{
		    color: white;
		    text-decoration: none;
		    margin-left: 1rem;
		    background-color: transparent;
		    border: transparent;
		    padding: 2px 50px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 15px;
		}
		h1{
			margin-right: 650px;
			margin-left: 100px;
			font-size: 30px;
		}
		header{
			display: flex;
		    align-items: center;
		    background-color: purple;
		    color: white;
		    width: 1840px;
		}
		.a2{
			width: 450px;
			height: 500px;
			background-color: ghostwhite;
			opacity: 0.8;
			padding-left: 100px;
			padding-top: 80px;
			padding-right: 100px;
			border-radius: 30px;
			margin: 100px;
		}
		.a21{
			width: 100px;
			height: 10px;
			background-color: blue;
			padding: 10px;
			border-radius: 25px;
			margin: 5px;
			color: white;
		}
		.a22{
			width: 100px;
			height: 10px;
			background-color: purple;
			padding: 10px;
			border-radius: 25px;
			margin: 5px;
			color: white;
		}
		.a3{
			margin-top: 50px;
		}

		.b {
		    background: url(./img/p2.jpg) no-repeat;
		    background-size: 100% 100%;
		    height: 50vw;
		}

		.b0{
			width: 550px;
			height: 700px;
			background-color: white;
			opacity: 0.9;
			padding-left: 100px;
			padding-top: 80px;
			padding-right: 100px;
			border-radius: 30px;
			margin: 100px;
			margin-left: 1000px;
		}


		.b1,.b2,.b3,.b4{
			width: 200px;
			height: 210px;
			background-color: white;
			padding: 5px;
			border-radius: 25px;
			margin: 5px;
		}
		.c,.d{
			display: flex;
			margin-left: 25px;
		}
		.b0 img {
			    width: 60px;
			    border-radius: 50%;
			    margin-left: 18px;
			    margin-top: 18px;
		}