.photo {
    background: url(./img/hill.jpg) no-repeat;
    background-size: 100% 100%;
    height: 50vw;
}
.a{
    float: left;
    width: 45%;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a:link, a:visited{
    background-color: transparent;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}
a:hover, a:active {
    background-color: transparent;
    color: green;
}
h1{
    font-size: 30px;
    color: white;
}
.phone img {
    width: 50px;
    border-radius: 50%;
}
.phone p{
    background-color: transparent;
    color: white;
    border: 3px solid white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
    border-radius: 25px;
}
.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}
.b img{
    width: 100px;
    border-radius: 50%;
    vertical-align: middle;
}
.b span{
    background-color: white;
    color: black;
    border: 3px solid white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    margin-left: 10px;
    border-radius: 40px;
}
.b2{
    background-color: white;
    color: green;
    border: 3px solid white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    margin-left: 10px;
    border-radius: 40px;
}
.b3{
    background-color: blue;
    color: white;
    border: 3px solid blue;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
    border-radius: 40px;
    width: 140px;
}
div .b{
    width: 650px;
    padding: 60px;
    margin-top: 120px;
}
.c img{
    width: 500px;
    border-radius: 70%;
    vertical-align: middle;
}
div .c{
    width: 650px;
    padding: 60px;
    margin-top: 150px;
    margin-left: 130px;
}




.one{
    float: left;
    width: 47.5%;
    padding: 20px;
}
.d img{
    width: 620px;
    border-radius:40px;
    vertical-align: middle;
    margin: 150px;
    margin-left: 250px;
}
.e img{
    width: 200px;
    border-radius: 80%;
    float: right;
}
.two{
    display:flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    background-color: green;
    width: 620px;
    height: 200px;
    margin-bottom: 30px;
}
.two p{
    font-size: 50px;
    color: white;
    text-align: center;
    float: right;
}
.e{
    width: 620px;
    border-radius:40px;
    vertical-align: middle;
    margin-top: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}
.e1{
    font-size: 30px;
}
.e header{
    border-radius: 40px;
}


.three{
    float: left;
    width: 47.5%;
    padding: 20px;
}
.g,.f{
    width: 600px;
}
.g tr{
    height: 40px;
}
.f tr{
    height: 120px;
}
.g{
    margin:150px;
    margin-left: 250px;
}
.f{
    margin-top: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}
.g,.f{
    background-color: lightgrey;
    border: 3px solid white;
      border-collapse: collapse;
}
.g1{
    color: green;
    text-align: center;
}
.g th{
    font-size: 30px;
    text-align: left;
}
.f1{
    font-size: 70px;
}
.f2{
    color: green;
}




.four{
    text-align: center;
    margin-bottom: 40px;
}
.h{
    font-size: 40px;
}



.i img{
    width: 150px;
    border-radius: 80%;
    float: right;
}
.five{
    display:flex;
    justify-content: center;
    align-items: center;
    float: right;
    background-color: seagreen;
    width: 1200px;
    height: 150px;
    margin-bottom: 30px;
    margin-right: 300px;
    border-radius: 20px;
}
.five span{
    font-size: 50px;
    color: white;
    text-align: center;
    float: right;
}


.i{
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}